
.shadowsideba2{
  margin-top: 20px;
  margin-right: 0px;
  padding-bottom: 0px;
   margin-left: 0px;
   word-wrap: break-word;
    position: relative;
    float: left;
    width: 390px;
    padding: 1em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 60px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
@media only screen and (max-width: 480px){
.shadowsideba2{
  margin-top: 20px;
  margin-right: 10px;
  padding-bottom: 0px;
   margin-left: 35px;
   word-wrap: break-word;
    position: relative;
    float: left;
    width: 350px;
    padding: 1em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 60px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
}
.shadowsideba{
  margin-top: 20px;
  margin-right: 0px;
  padding-bottom: 0px;
   margin-left: 10px;
   word-wrap: break-word;
    position: relative;
    float: left;
    width: 390px;
    padding: 1em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 60px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
@media only screen and (max-width: 480px){
.shadowsideba{
  margin-top: 20px;
  margin-right: 10px;
  padding-bottom: 0px;
   margin-left: 10px;
   word-wrap: break-word;
    position: relative;
    float: left;
    width: 370px;
    padding: 1em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 60px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
}
.indexshadow{
  margin-right: 5px;
   word-wrap: break-word;
    position: relative;
    float: left;
     width: 370px;
    padding: 1em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 60px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}

.indexshadow2{
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
   word-wrap: break-word;
    position: relative;
    float: left;
     width: 345px;
    padding: 1em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 60px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
.indexshadow3{
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
   word-wrap: break-word;
    position: relative;
    float: left;
     width: 345px;
    padding: 1em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 60px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
.body{
  max-width: 1400px;
}



.indexshadow{
  margin-right: 5px;
   word-wrap: break-word;
    position: relative;
    float: left;
     width: 370px;
    padding: 1em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 60px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
.indexshadowstore{
/*  margin-top: 10px;
  margin-right:20px;
  margin-left: 10px;
  max-width: 1200px;
*/
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 20px;
   word-wrap: break-word;
    position: relative;
    float: left;
    padding: 1em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 60px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
@media only screen and (max-width: 480px){
  .indexshadowstore{
   margin-top: 10px;
  margin-right:40px;
  margin-left: 10px;
  max-width: 1200px;
  width: 368px;
  margin-bottom: 10px;
  padding-bottom: 20px;
   word-wrap: break-word;
    position: relative;
    float: left;
    padding: 1em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 60px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
  }

.indexshadow1{
  margin-right: 5px;
   word-wrap: break-word;
    position: relative;
    float: left;
     width: 370px;
    padding: 1em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 60px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
.shadowstore{

  margin-top: 20px;
  margin-right: 0px;
  padding-bottom: 20px;
   word-wrap: break-word;
    position: relative;
    float: left;
    width: 720px;
    padding: 1em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 60px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
@media only screen and (max-width: 480px){

  .shadowstore{

  margin-top: 20px;
  margin-right: 10px;
   margin-left: 10px;
  padding-bottom: 20px;
   word-wrap: break-word;
    position: relative;
    float: left;
    width: 390px;
    padding: 1em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 60px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}

}


.shadowstore2{

  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 20px;
   word-wrap: break-word;
    position: relative;
    float: left;
    width: 740px;
    padding: 1em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 60px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
@media only screen and (max-width: 480px){
 .shadowstore2{

  margin-top: 20px;
  margin-right: 0px;
  margin-left: 10px;
  padding-bottom: 20px;
   word-wrap: break-word;
    position: relative;
    float: left;
    width: 370px;
    padding: 1em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 60px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}

.shadowsyllabus{

  margin-top: 20px;
  margin-right: 10px;
  padding-bottom: 20px;
   word-wrap: break-word;
    position: relative;
    float: left;
    width: 1200px;
    padding: 1em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 60px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
.storebody{
  margin-bottom: 60px;
  margin-top: 30px;
}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}


.cf{
 float: left;
 position: absolute;
 word-wrap:break-word;
}

