
.store{
  margin-top: 60px;
}
.adss{
  font-size:18px;
  font-family: Times New Roman, Times, serif;
  color:#F09;
  padding-left:20px;
  padding-right: 20px;
}
.adss1{
  font-size:12px;
  color:#666;
}
.container-fluid{
  margin-right: 70px;
  margin-left: 70px;
}
.contain2{
  margin-top: 15px;
}
.head{
  padding-right: 20px;
  color:red;
  margin-top:20px;
  font-size: 60px;
  margin-bottom: 10px;

}
.head{
    font-weight: normal;
    font-family: "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "Helvetica Neue", Arial;
    line-height: 100%;
    text-shadow: 0px 2px 3px #999;
}

.subject
{
  color:#008000; 
  
}
.jamb{
	background-image: url("jamb.jpg");
}
.check{
  .padding-top: 0px;
  margin-top: 0px;
}
.heading8 {
    font-size: 20px;
    margin-bottom: 5px;
    font-family: "Times New Roman",Times,serif;
}

.table1{
  margin-top: 20px;
}

.news_category_container {
    float: left;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-right: 15px;
}
.heading1 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #F7F7F7;
    padding-bottom: 5px;
    color: #BE1200;
}

#content_container ul {
    list-style-type: none;
    list-style-image: url(../images/right.png);
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.time{
  float: right;
  
}
.login{
  background-color: white;
}
.imgads{
  
}
.row > *{
	overflow: hidden;
}
.row > * > *{
	max-width: 100%;
}
