
body {
 
  background-color: #DCDCDC;

}
.shadowstore,.shadowstore2, .shadowsideba2, .shadowsideba{ width: 100% !important;}
.top{
  margin-top: 80px;
}
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

html, body {
  font-family: 'Lato', serif;  
}

.navbar-default {
  font-size: 1.15em;
  font-weight: 400;
  background-color: #006b96;
  padding: 10px;
  border: 0px;
  border-radius: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #cbf0ff;
}

.navbar-default .navbar-brand {
  color: #002433;
}

.navbar-default .navbar-brand:hover {
  color: #ffffff;
  text-shadow: 1px -1px 8px #b3e9ff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: #004059;
  color: white;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #002433;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.dropdown-menu {
  background-color: #004059;
  color: white;
  border: 0px;
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-menu>li>a {
  background-color: #004059;
  color: white;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #004059;
  color:white;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #003246;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
}

@media (max-width: 767px) { 
  .dropdown-menu>li>a {
    background-color: #006b96;
    color: #ffffff;
  }
  .dropdown-menu>li>a:hover {
    color: #ffffff;
  }
  
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #ffffff;
    background-color: transparent;
  }
  
  .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #005577;
  }
} /* END Media Query */

.menu-list >li{
  padding-top: 10px;
}
.containads{

  text-align: center;
  margin-bottom: 30px;
  background-color: #000;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;

}
.container-fluid{
  margin-right: 70px;
  margin-left: 70px;
}
.contain2{
  margin-top: 15px;
}
.head{
  padding-right: 20px;
  color:red;
  margin-top:20px;
  font-size: 20px;
  margin-bottom: 10px;

}
.head{
    font-weight: normal;
    font-family: "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "Helvetica Neue", Arial;
    line-height: 100%;
    text-shadow: 0px 2px 3px #999;
}
.software{
  margin-right: 80px;
}
.price{
  font-size: 20px;
  color: green;
}
.center{
  text-align: center;
  width: 15%;
}
.orange {
    background-color: #CCCCCC;
    color: #141414;
}

.btn {
    display: inline-block;
    background: url(../images/btn.bg.png) repeat-x 0px 0px;
    padding: 5px 10px 6px 10px;
    font-weight: bold;
    background-color: steelblue;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    border: 1px solid rgba(0,0,0,0.4);
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    margin-right: 40px;
}
.input{
  margin-top: 80px;
}
.ads{
  margin-right:100%;
  margin-bottom: 20px;
  float: left;
}
.forum{
  margin-top: 20px;
}
.store{
  margin-bottom: 20px;
  margin-right: 40px;
}
.space{
  margin-right: 40px;
}
.middle{
  margin-top: 20px;
  float: left;
  margin-right: 0px;
  
}
.indexshadow, .indexshadow1{
	width: 100%;
}
.col-md-4{
/*
  margin-left:10px;
  margin-right:0;
  */
   padding-left: 5px;
   padding-right: 5px;
   height: 800px;
}


.adss{
  font-size:18px;
  font-family: Times New Roman, Times, serif;
  color:#F09
  padding-left:20px;
  padding-right: 20px;
}
.adss1{
  font-size:12px;
  color:#666;
}

{
  color: blue;
   background-color: lightgreen;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
     margin-bottom: 20px ; 
     background-image: url("img/jamb.jpg");
}
.banner{
  width: 700px;
  height: 120px;
  margin-left: 190px;

}
.banner3{
  
  width: 300px;
  height: 110px;
  margin-left:210;
}

@media screen and (max-width: 600px) {
  .banner,.banner3 {
  
   float: left;
   margin-right: 0px;
   margin-top: 20px;
   margin-left:20px;
    
  }
  .banner3{
    width: 350px
  }
  .banner{
    width: 350px;
    margin-bottom: 20px;

  }
}
@media screen and (max-width: 600px) {
  .banner4,.banner5 {
  
   float: left;
   margin-right: 0px;
   margin-bottom: 20px;
   margin-left:0px;
    
  }
  .banner3{
    width: 350px
  }
  .banner{
    width: 350px;

  }
}

.banner4{
   width: 700px;
   margin-top: 30px;
  height: 60px;
  margin-left: 190px;

}
.banner5{

  width: 300px;
  height: 110px;
  margin-left:210;

}
.radio{
  margin-left: 118px;
  margin-right: 50px;
}
@media screen and (max-width: 600px) {
  .profilephoto {
  margin-right: 400px;
  margin-bottom: 10px;
   
    
  }
}
  @media screen and (max-width: 600px) {
  .profilephoto1 {
  margin-left: 100px;
  margin-bottom: 10px;
 }
}

.nav2{
    background-color: blue
    ;
    padding: 10px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #EBEBEB;
    border-bottom-color: #EBEBEB;
    border-left-color: #EBEBEB;
}


.store{
  margin-top: 60px;
}


.adss{
  font-size:18px;
  font-family: Times New Roman, Times, serif;
  color:#F09
  padding-left:20px;
  padding-right: 20px;
}
.adss1{
  font-size:12px;
  color:#666;
}
.container-fluid{
  margin-right: 70px;
  margin-left: 70px;
}
.contain2{
  margin-top: 15px;
}
.head{
  padding-right: 20px;
  color:red;
  margin-top:20px;
  font-size: 20px;
  margin-bottom: 10px;

}
.head{
    font-weight: normal;
    font-family: "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "Helvetica Neue", Arial;
    line-height: 100%;
    text-shadow: 0px 2px 3px #999;
}

.subject
{
  color:#008000; 
  
}
.jamb{
  background-image: url("jamb.jpg");
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

























h3 {
            color: #fff;
            font-size: 24px;
            text-align: center;
            margin-top: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #eee;
            margin-bottom: 30px;
            font-weight: 300;
        }
        
      
        /*
        div[class*='col-'] {
            padding: 0 30px;
        }
        */
        .wrap {
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
        }
        
        a:focus,
        a:hover,
        a:active {
            outline: 0;
            text-decoration: none;
        }
        
        .panel {
            border-width: 0 0 1px 0;
            border-style: solid;
            border-color: #fff;
            background: none;
            box-shadow: none;
        }
        
        .panel:last-child {
            border-bottom: none;
        }
        
        .panel-group > .panel:first-child .panel-heading {
            border-radius: 4px 4px 0 0;
        }
        
        .panel-group .panel {
            border-radius: 0;
        }
        
        .panel-group .panel + .panel {
            margin-top: 0;
        }
        
        .panel-heading {
            background-color: #0072AE;
            border-radius: 0;
            border: none;
            color: #fff;
            padding: 0;
        }
        
        .panel-title a {
            display: block;
            color: #fff;
            padding: 15px;
            position: relative;
            font-size: 22px;
            font-weight: 400;
        }
        
        .panel-body {
            background: #fff;
        }
        
        .panel:last-child .panel-body {
            border-radius: 0 0 4px 4px;
        }
        
        .panel:last-child .panel-heading {
            border-radius: 0 0 4px 4px;
            transition: border-radius 0.3s linear 0.2s;
        }
        
        .panel:last-child .panel-heading.active {
            border-radius: 0;
            transition: border-radius linear 0s;
        }
        /* #bs-collapse icon scale option */
        
        .panel-heading a:before {
            content: '\e146';
            position: absolute;
            font-family: 'Material Icons';
            right: 5px;
            top: 10px;
            font-size: 24px;
            transition: all 0.5s;
            transform: scale(1);
        }
        
        .panel-heading.active a:before {
            content: ' ';
            transition: all 0.5s;
            transform: scale(0);
        }
        
        #bs-collapse .panel-heading a:after {
            content: ' ';
            font-size: 24px;
            position: absolute;
            font-family: 'Material Icons';
            right: 5px;
            top: 10px;
            transform: scale(0);
            transition: all 0.5s;
        }
        
        #bs-collapse .panel-heading.active a:after {
            content: '\e909';
            transform: scale(1);
            transition: all 0.5s;
        }
        /* #accordion rotate icon option */
        
        #accordion .panel-heading a:before {
            content: '\e316';
            font-size: 24px;
            position: absolute;
            font-family: 'Material Icons';
            right: 5px;
            top: 10px;
            transform: rotate(180deg);
            transition: all 0.5s;
        }
        
        #accordion .panel-heading.active a:before {
            transform: rotate(0deg);
            transition: all 0.5s;
        }
        .tt{
          width: 700px;
          float: left;
        }
        body
{
    margin-top: 20px;
}
.panel
{
    text-align: center;
}
.panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }
.panel-body
{
    padding: 0px;
    text-align: center;
}

.the-price
{
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
}

.the-price h1
{
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.subscript
{
    font-size: 25px;
}

/* CSS-only ribbon styles    */
.cnrflash
{
    /*Position correctly within container*/
    position: absolute;
    top: -9px;
    right: 4px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding      to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}
.cnrflash-inner
{
    /*Set position, make larger then      container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 145px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%;  /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after
{
    /*Use the border triangle trick to make         it look like the ribbon wraps round it's        container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid #800000;
}
.cnrflash-inner:before
{
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cnrflash-inner:after
{
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.cnrflash-label
{
    /*Make the label look nice*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}
